body{
	width:80%;
	margin:auto;
	overflow:hidden;
}
#maincontainer{
	max-width: 100%;
	margin:0 0 0 0;
	padding: 0 0 0 0;
}
#headercontainer{
	width:100%;
	margin:0;
	padding:0;
}
#logoimg{
	width:50px;
	height:50px;
}
#signin{
	width:50px;
	height:50px;
}
#cart{
	width:50px;
	height:50px;
}
#searchbutton{
	width:100px;
}
#navbar{
	width:100%;
	background:#245B96;
	color:white;

}
#navbar ul li{
	display:inline-block;
	text-decoration-style: none;
	color:white;
}
#navbar ul{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color:white;
	text-decoration-style: none;
}
#navbar a{
	color:white;
	text-decoration: none;
	margin-right:80px;
}
#title a{
	color:black;
	font-size: 60px;
	text-decoration: none;
}
